<div class="fade-in" id="about">
    <h2 style="text-align: center; padding-bottom: 4rem;">About</h2>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 mb-4 mb-md-0">
                <div class="about-background ">
                    <div class="about-container">
                        <img class="about-image"
                            src="https://thumbs.dreamstime.com/b/man-profile-cartoon-smiling-round-icon-vector-illustration-graphic-design-135443422.jpg"
                            alt="">
                        <h4>User Name</h4>
                        <p>Front End Developer</p>
                    </div>
                    <div class="about-details">
                        <p class="about-email"><i class="bi bi-envelope"></i> abc&#64;mailinator.com</p>
                        <p><i class="bi bi-telephone"></i> 123456789</p>
                        <p><i class="bi bi-geo-alt"></i>3rd floor,Lotus tower</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <h5 class="know-text">Know Me</h5>
                <p class="about-description">
                    I'm a passionate Front-End Developer with a strong interest in building responsive, user-friendly
                    web interfaces.
                </p>
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <div class="info-box-container">
                            <h6>Experience Level</h6>
                            <p>Junior Professional</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="info-box-container">
                            <h6>Language</h6>
                            <ul class="info-list">
                                <li>English</li>
                                <li>Tamil</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 mb-3">
                        <div class="stat-box">
                            <h3>1.5+</h3>
                            <p>Years Experience</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <div class="stat-box">
                            <h3>3+</h3>
                            <p>Working Projects</p>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <button type="button" class="btn btn-primary"><i class="bi bi-download"></i> Download
                        Resume</button>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="text-center pt-5">Skills</h2>

            <div class="col-md-6 mt-3">
                <div class="skills-section mb-3">
                    <div class="d-flex justify-content-between">
                        <h6>HTML</h6>
                        <span class="skill-percent">85%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 85%;"></div>
                    </div>
                </div>

                <div class="skills-section mb-3">
                    <div class="d-flex justify-content-between">
                        <h6>JavaScript</h6>
                        <span class="skill-percent">78%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 78%;"></div>
                    </div>
                </div>

                <div class="skills-section mb-3">
                    <div class="d-flex justify-content-between">
                        <h6>Angular</h6>
                        <span class="skill-percent">75%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 75%;"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-3">
                <div class="skills-section mb-3">
                    <div class="d-flex justify-content-between">
                        <h6>CSS</h6>
                        <span class="skill-percent">82%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 82%;"></div>
                    </div>
                </div>

                <div class="skills-section mb-3">
                    <div class="d-flex justify-content-between">
                        <h6>Bootstrap</h6>
                        <span class="skill-percent">80%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 80%;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>