<div class="fade-in" id="resume">
    <h2 style="text-align: center; padding-bottom: 4rem;">Resume</h2>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 resume-section">
                <div class="timeline-item">
                    <div class="timeline-heading mb-2">
                        <h3><i class="bi bi-person-circle me-2"></i> Summary</h3>
                    </div>
                    <div class="timeline-body position-relative ps-4">
                        <div class="timeline-marker"></div>
                        <div class="timeline-line"></div>
                        <div class="timeline-content">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos aliquid, consequatur,
                                quisquam temporibus vel sunt aspernatur officiis deleniti dolor architecto, odio
                                adipisci autem porro. Fugiat consectetur ipsam deserunt facilis? Soluta?</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-heading mb-2">
                        <h3><i class="bi bi-mortarboard-fill me-2"></i> Education</h3>
                    </div>

                    <div class="timeline-body position-relative ps-4">
                        <div class="timeline-marker"></div>
                        <div class="timeline-line"></div>
                        <div class="timeline-content">
                            <h5 class="mb-1" style="color: #444;">Electrical and Electronics Engineering</h5>
                            <p class="mb-1">2018 - 2022</p>
                            <p>Sri Ranganathar Institute of Engineering and Technology</p>
                        </div>
                    </div>
                    <div class="timeline-body position-relative ps-4">
                        <div class="timeline-marker"></div>
                        <div class="timeline-line"></div>
                        <div class="timeline-content">
                            <h5 class="mb-1" style="color: #444;">HSC</h5>
                            <p class="mb-1">2016 - 2018</p>
                            <p>St.Joseph's Higher Secondary School</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-heading mb-2">
                        <h3><i class="bi bi-person-fill-gear"></i> Skills</h3>
                    </div>
                    <div class="timeline-body position-relative ps-4">
                        <div class="timeline-marker"></div>
                        <div class="timeline-line"></div>
                        <div class="timeline-content">
                            <ul>
                                <li>HMTL5</li>
                                <li>CSS3</li>
                                <li>Bootstrap</li>
                                <li>Java Script</li>
                                <li>Angular</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 resume-section">
                <div class="timeline-heading mb-2">
                    <h3><i class="bi bi-briefcase-fill"></i> Professional Experience</h3>
                </div>
                <div class="timeline-body position-relative ps-4">
                    <div class="timeline-marker"></div>
                    <div class="timeline-line"></div>
                    <div class="timeline-content">
                        <h5 class="mb-1" style="color: #444;">Junior Angular Developer</h5>
                        <p class="mb-1">2024 - Present</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, reiciendis.</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-body position-relative ps-4">
                    <div class="timeline-marker"></div>
                    <div class="timeline-line"></div>
                    <div class="timeline-content">
                        <h5 class="mb-1" style="color: #444;">Internship</h5>
                        <p class="mb-1">Aug 2023 - Nov 2023</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, reiciendis.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>